* {
	margin: 0;
	padding: 0;
}
body {
	background: #fff;
	padding: 0;
	margin: 0;
	border-radius: 3px;
	background-color: #D4C3D1;
}
html {
	scroll-behavior: smooth;
}

/*navbar*/

.nav {
	display: grid;
	grid-template-columns: auto auto;
	padding: 5px 35px;
	background: #98c1d9;
}
.nav .navbar nav {
	font-size: 35px;
	margin-top: 8px;
	margin-left: 20px;
	cursor: pointer;
	color: #FF3661;
	font-family: 'Josefin Sans', sans-serif;
}
.nav .menu .ul {
	display: inline-block;
	list-style-type: none;
	margin-left:600px;
}
.nav .menu .ul li {
	display: inline-block;
	margin: 8px 20px;
}
.nav .menu .ul li a {
	text-decoration: none;
	color: #ff523b;
	font-size: 19px;
}
.nav .menu .ul li a:hover {
	color: #FF3661;
	transition: 0.6s;
}
.nav .menu .ul li:hover {
	border-top: 1px solid #FF3661;
	transition: 0.6s;
}


/*first section style*/

.container {
	margin: 20px 30px;
	border: 3px solid #000;
	border-radius: 10px;
}
.container h2 {
	text-align: center;
	font-weight: 600;
	font-size: 38px;
	color: #FF3661;
	position: relative;
}
.container h2::after {
	content: '';
	height: 3px;
	width: 100px;
	background: #D74761;
	border-radius: 2px;
	position: absolute;
	left: 45%;
	top: 100%;
}
.container .row {
	display: grid;
	grid-template-columns: 600px 500px;
	width: 100%;
	padding-top: 29px;
}
.container .row .col-6 {
	width: 100%;
}
.container .row .col-6 .text {
	padding: 5px;
	padding-right: 12px;
	text-align: left;
	font-size: 17px;
	color: #822234;
	text-shadow: 1px -1px 6px rgba(206,206,206,0.91);
	font-family: 'Oswald', sans-serif;
}
.container .row .col-6 img {
	width: 570px;
	border-radius: 11px;
	box-shadow: 5px -1px 6px 1px rgba(92,42,42,0.46);
	-webkit-box-shadow: 5px -1px 6px 1px rgba(92,42,42,0.46);
	-moz-box-shadow: 5px -1px 6px 1px rgba(92,42,42,0.46);
}
.container .btn{
	margin-left: 1046px;
}
.container .btn button {
	padding: 7px 10px;
	border-radius: 5px;
	border: 2px solid #ff523b;
	background-color: #ff521b;
	margin-bottom: 15px;
	cursor: pointer;
}
.container .btn button a {
	text-decoration: none;
	color: #000;
	font-size: 14px;
	font-weight: 500;
}
.container .btn button:hover {
	background-color: crimson;
	transition: 0.9s;
}


/*second section style*/


.contai {
	margin: 20px 30px;
	border: 3px solid #000;
	border-radius: 10px;
}
.contai .row {
	display: grid;
	grid-template-columns: auto auto;
	width: 100%;
	margin-top: 20px;
}
.contai .row .col-2 {
	width: 100%;
	padding:10px 12px;
}
.contai .row .col-2 img {
	width: 500px;
	border-radius: 15px;
	box-shadow: 5px -1px 6px 1px rgba(92,42,42,0.46);
	-webkit-box-shadow: 5px -1px 6px 1px rgba(92,42,42,0.46);
	-moz-box-shadow: 5px -1px 6px 1px rgba(92,42,42,0.46);
}
.contai .row .col-2 p {
	text-align: left;
	color: #000;
	text-shadow: 1px -1px 6px rgba(206,206,206,0.91);
	font-size: 22px;
	font-family: font-family: 'Oswald', sans-serif;
	font-family: 'The Nautigal', cursive;
	padding: 0 12px;
}
.contai h2 {
	text-align: center;
	font-size: 28px;
	color: #ff523b;
	font-weight: 900;
	position: relative;
	font-family: 'oswald', sans-serif;
	margin-top: 10px;
}
.contai h2::after {
	content: '';
	height: 3px;
	width: 100px;
	border-radius: 3px;
	position: absolute;
	top: 100%;
	left: 45%;
	background-color: #FF3661;
}
.contai .btn {
	margin-left: 20%;
}
.contai .btn button {
	margin-left: 800px;
	padding: 7px 10px;
	border-radius: 5px;
	border: 2px solid #ff523b;
	background-color: #ff521b;
	margin-bottom: 15px;
	cursor: pointer;
}
.contai .btn button:hover {
	background: crimson;
	transition: 0.9s;
}
.contai .btn button a {
	text-decoration: none;
	color: #000;
	font-size: 15px;
}


/*second section style*/


.cont {
	margin: 50px 30px;
	border-radius: 20px;
	border: 3px solid #000;
	padding: 0 15px;
}
.cont .row {
	display: grid;
	grid-template-columns: auto auto;
	width: 100%;
}
.cont .row .col-2 {
	width: 100%;
	padding: 5px;
}
.cont .row .col-2 img {
	width: 300px;
	height: 300px;
	border-radius: 20px;
	box-shadow: 5px -1px 6px 1px rgba(92,42,42,0.46);
	-webkit-box-shadow: 5px -1px 6px 1px rgba(92,42,42,0.46);
	-moz-box-shadow: 5px -1px 6px 1px rgba(92,42,42,0.46);
}

.cont .row .col-2 p, .cont .row p {
	font-size: 17px;
	font-weight: 400;
	color: #822234;
	font-family: 'Robotto', sans-serif;
	text-align: left;
	text-shadow: 1px -1px 6px rgba(206,206,206,0.91);
}
.cont h2 {
	text-align: center;
	font-size: 28px;
	color: #ff523b;
	font-weight: 900;
	position: relative;
	font-family: 'oswald', sans-serif;
	margin-top: 10px;
	margin-bottom: 30px;
}
.cont h2::after{
	content: '';
	height: 3px;
	width: 100px;
	border-radius: 3px;
	position: absolute;
	top: 100%;
	left: 45%;
	background-color: #FF3661;
}
.cont .btn button {
	margin-left: 1028px;
	padding: 7px 10px;
	border-radius: 5px;
	border: 2px solid #ff523b;
	background-color: #ff521b;
	margin-bottom: 15px;
	cursor: pointer;
}
.cont .btn button:hover {
	background: crimson;
	transition: 0.9s;
}
.cont .btn button a {
	text-decoration: none;
	color: #000;
	font-size: 15px;
}
